In [1]:
import pandas as pd
rdcsv=pd.read_csv("StudentsPerformance.csv",nrows=4)
a=rdcsv.fillna(99)
rdcsv

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74
1,female,group C,some college,standard,NaN,NaN,90.0,88
2,female,group B,master's degree,standard,none,90.0,NaN,93
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44

In [2]:
print("hello world")

hello world